<html>
<head>
<meta charset="utf-8">
<title>博文</title>
</head>
<body>
<div style="width:70%;margin:0 auto">
<h1 size="20" align="center">{{article.title}}</h1>
<p align="center">标签： 
{%for i in article.category.all%}
<a href='/category/{{i.name}}'>{{i.name}}</a>
{%endfor%}
</p>
<p align="center">发布时间:{{article.First_time|date:"Y-m-d H:i:s"}}</p>
<p align="center">修改时间:{{article.Revise_time|date:"Y-m-d H:i:s"}}</p>
<p>{{article.content|safe}}</p>

</div>
	<hr/>
	<p>以下是评论：</p>
	<br/>
	{% load comments %}
	{% get_comment_count for article as comment_count %}
	<p>共有{{ comment_count }}个评论</p>
	{% get_comment_list for article as comment_list %}
	{% for comment in comment_list reversed%}
		由{{comment.user|default:"匿名用户"}}于{{comment.submit_date|date:"Y-m-d H:i:s"}}发布了以下评论：
		<br/>
		{{comment.comment}}
		<br/>
		<hr/>
	{% endfor %}
	{% if user.is_authenticated %}
		<p>若想<a href="/logout/">登出</a>请按这里</p>
		{{user.username}}欢迎写评论：
	{% else %}
		<p>请 <a href="/login/">登录</a> 或者<a href="/reg/">注册</a>，若不登录可以写匿名评论</p>
	{%endif%}
    {% render_comment_form for article %}
</body>
</html>