<html>
	<head>
		<meta charset="utf-8">
		<title>博文</title>
	</head>
	<link href="/static/css/article.css" type="text/css" rel="stylesheet" />
	<body>
		<div class="whole_header">
			<div class="nav">
				<div style="width: 1120px; margin: 0 auto">
					<div class="inner_nav1">
						<a style="font-size: 24px;" href='/'>hww的博客</a>
						<a href="/">首页</a>
						<a href='/'>发的总共的贴</a>
					</div>
					<div class="inner_nav2">
						<a href="/admin">管理</a>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="body">
			<div>
			{%for i in introduce%}
				<h1 style="font-size:35px">{{i.title}}</h1>
				<span style="font-size:15px;">发布时间:<strong>{{i.First_time|date:"Y-m-d H:i:s"}}</strong></span>
				<span style="float:right;font-size:15px;">修改时间:<strong>{{i.Revise_time|date:"Y-m-d H:i:s"}}</strong></span>
				<hr>
				<p>{{i.content|safe}}</p>
			{%endfor%}
			</div>
		</div>
		<footer>
			<div class="text-center">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-muted">
							<a href="https://www.djangoproject.com/">由django驱动</a>
							<br/>
							<a href="/introduce">Copyright © hww</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>