<html>
    <head>
        <title>首页</title>
    </head>
	<body>
	<link href="/static/css/首页.css" type="text/css" rel="stylesheet" />
	<div class="whole_header">
		<div class="nav">
			<div style="width: 1120px; margin: 0 auto">
				<div class="inner_nav1">
					<a style="font-size: 24px;" href='/'>hww的博客</a>
					<a href="/">首页</a>
				</div>
				<div class="inner_nav2">
					<a href="/admin">管理</a>
				</div>
			</div>
		</div>
	</div>


	<div class="text-center">
		<div class="row">
			<div class="col-lg-12">
				<p class="text-muted">Copyright © answ.me 2014</p>
			</div>
		</div>
	</div>
	</body>
</html>